<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    
    <title>SantFood</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block js%}{% endblock %}
</head>
<body>
    <div class="loader_bg">
      <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
    </div>

    <nav class = "nav">
      <ul class="menu">
        <li>
          <a href="{% url 'index'}"> Inicio</a>
        </li>
        <li>
          <a href="{% url 'nosotros'}"> Nosotros</a>
        </li>
        <li>
          <a href="{% url 'login'}"> Ingresa</a>
        </li>
        <li>
          <a href="{% url 'menus'}"> Menus</a>
        </li>
        <li>
          <a href="{% url 'registro'}"> Registrate</a>
        </li>
      </ul>
    </nav>
    
    <header>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                  <div class="full">
                    <a href="{% url 'index' %}"><img src="{% static 'images/logo_empresa.png' %}" alt=""></a>
                  </div>    
            </div>
          </div>
      </div>           
    </header>
    
  <footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_logo">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo_empresa.png' %}" alt="logo1" /></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="new">
                        <h3>Noticia</h3>
                        <form class="newtetter">
                            <input class="tetter" placeholder="Ingrese su Email" type="text" name="Your email">
                            <button class="submit">Subscríbete !</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2024 Todos Los Derechos Reservados. </p>
            </div>
        </div>
    </div>
</footer>



</body>


