{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

<br><br>
<div class="container-form-contacto">
    <div class="information-contacto">
        <div class="info-childs-contacto">
            <h2>Dejanos Tu Comentario</h2>
            <p>Puedes realizar una sugerencia, reclamo o felicitaciones hacia nuestros colaboradores.</p>
            <br>
        </div>
    </div>
    <div class="form-information-contacto">
        <div class="form-information-childs-contacto">
            <h2>CONTACTANOS</h2>

            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="" method="post" class="formulario_contacto">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Enviar" class="btn btn-primary">
                <input type="reset" value="Limpiar" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>
<br><br>

{% endblock %}

{% comment %} {% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenido %}

<br><br>
<div class="container-form-contacto">
    <div class="information-contacto">
        <div class="info-childs-contacto">
            <h2>Dejanos Tu Comentario</h2>
            <p>Puedes realizar una sugerencia, reclamo o felicitaciones hacia nuestros <colaboradores></colaboradores></p>
            <br>
        </div>
    </div>
    <div class="form-information-contacto">
        <div class="form-information-childs-contacto">
            <h2>CONTACTANOS</h2>

            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="" method="post" class="formulario_contacto">
                <div class="contacto">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <br>
                <input type="submit" value="Enviar" class="btn btn-primary">
                <input type="reset" value="Limpiar" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>
<br><br>

{% endblock %} {% endcomment %}
