{% extends "base.html"%}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%block contenido%}
{% load crispy_forms_tags %}

<br><br>
<div class="container-form-contacto">
    <div class="information-contacto">
        <div class="info-childs-contacto">
            <h2>Dejanos Tu Comentario</h2>
            <p>Puedes realizar una sugerencia, reclamo o felicitaciones hacia nuestros <colaboradores></colaboradores></p>
            <br>
        </div>
    </div>
    <div class="form-information-contacto">
        <div class="form-information-childs-contacto">
            <h2>CONTACTANOS</h2>
            <form action = "" method = "post" class = "formulario_contacto">
              <div class = "contacto">

                {% csrf_token %}
                {{ form | crispy }}
                
              </div>
              <br>
              <input type="submit" value = "Enviar">
              <input type="reset" value = "Limpiar">
            </form>
        </div>
    </div>
</div>
<br><br>

{%endblock%}