
{% extends "base.html"%}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
  body{
    background: url(static/images/bg.jpg);
    background-size: 100%;
  }
</style>
  <div class="container-fluid">
    <h1>CRUD de contáctos</h1>
    <div id="contacto" class="row">
      {% for contacto in contactos %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ contacto.nombre }}</h5>
            <p class="card-text">{{ contacto.mensaje_contacto }}</p>
            <button class="btn btn-primary btn-edit">Editar</button>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
  </div>


{%endblock%}