{% extends "base.html"%}
{% load static %}
{% block contenido %}
{% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
<main class = "inicio">
  <div class = "slider-content container">
    <div class = "swiper mySwiper-1">
      <div class = "swiper-wrapper">

        {% comment %} SLIDER MENU PRINCIPAL - BUCLE  INICIO {% endcomment %}
        <div class = "swiper-slide">
          <div class = "slider">
            <div class = "slider-txt">
              <h1> Hamburguesa Bre-Bacon </h1>
              <p>
                Exquisita hamburguesa con 200 gr de carne, queso cheedar, tocino ahumado a la plancha, pepinillo, 
                lechuga, tomate y el aderezo que más te guste.. 
                <br>
                Puedes elegir entre salsa de la casa, tártara, de queso, barbacoa, mayonesa casera o de ajo. 
                Todo esto es un fresco y suave pan marraqueta.
              </p>
              <div class = "botones">
                <a href = "{% url 'menus' %}" class = "btn-1"> Pidela Ya </a>
              </div>
            </div>
            <div class = "slider-img">
              <img src="{% static 'images/slider1.png'%}" alt = ""/>
            </div>
          </div>
        </div>

        {% comment %} SLIDER MENU PRINCIPAL - BUCLE  FINAL {% endcomment %}
        {% comment %} BUCLE  INICIO {% endcomment %}
        <div class = "swiper-slide">
          <div class = "slider">
            <div class = "slider-txt">
              <h1> Baguette Mixto </h1>
              <p>
                En este delicioso y sabroso sándwich puedes elegir jamón de pierna acaramelado o jamón de pavo ahumado,
                también lo puedes pedir mixto, además lleva tomate aceitunas, pimentón verde, queso mozarela, 
                lechuga, salsa de la casa y pepinillo, todo esto en un crujiente pan baguete.
                <br>
                Le puedes agregar la salsa que más te guste tártara, de queso, barbacoa, mayonesa casera o de ajo. 
              </p>
              <div class = "botones">
                <a href = "{% url 'menus' %}" class = "btn-1"> Pidela Ya </a>
              </div>
            </div>
            <div class = "slider-img">
              <img src="{% static 'images/slider2.png'%}" alt = ""/>
            </div>
          </div>
        </div>
        {% comment %} BUCLE  FIN {% endcomment %}
        {% comment %} BUCLE  INICIO {% endcomment %}
        <div class = "swiper-slide">
          <div class = "slider">
            <div class = "slider-txt">
              <h1> Hamburguesa La Toscana</h1>
              <p>
                Exquisita hamburguesa con 200 gr de carne a la parrilla queso cheedar, cebolla caramelizada, pepinillo dulce, aceitunas,
                lechuga, tomate, salsa de la casa, todo en un fresco y crujiente pan toscano.
                <br> 
                Puedes también agregar el aderezo que más te guste para disfrutar del mejor sabor! 
              </p>
              <div class = "botones">
                <a href = "{% url 'menus' %}" class = "btn-1"> Pidela Ya </a>
              </div>
            </div>
            <div class = "slider-img">
              <img src="{% static 'images/slider3.png'%}" alt = ""/>
            </div>
          </div>
        </div>
        {% comment %} BUCLE  FIN {% endcomment %}
      </div>

      

      {% comment %} BOTONES ANTERIOR - SIGUIENTE {% endcomment %}

      <div class = "swiper-button-next"></div>
      <div class = "swiper-button-prev"></div>
      <div class = "swiper-button-pagination"></div>

    </div>
  </div>
</main>


<main class="products">
  <div class="tabs container">
    <input type="radio" name="tabs" id="tab1" checked="checked" class="tabInput" value="1">
    <label for="tab1"> Nuestros Productos</label>
    <div class="tab">
      <div class="swiper mySwiper-2" id="swiper1">
        <div class="swiper-wrapper">
          {% for menu in menus %}
          <div class="swiper-slide">
            <div class="product">
              <div class="product-img">
                <h4>Nuevo</h4>
                <img src="{{ menu.imagen.url }}">
              </div>
              <div class="product-txt">
                <p>{{ menu.nombre_menu }}</p>
                <span class="price">${{ menu.precio }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</main>



  

<div class="title">
  <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
  <center><h2>Nuestro Blog</h2></center>
  <span>Observa algunas de las publicaciones sobre nuestras comidas</span>
</div>

<br>

<div class="container-cards">
  <div class="card-1" >
    <figure>
      <img src="{% static 'images/food1.png' %}" alt="#"/>
    </figure>
    <div class="contenido-card">
      <h3>Delivery Burger</h3>
      <p>Hamburguesa seleccionada con los mejores ingredientes, especial para poder salir de un apuro en comer algo delicioso, carne de primera seleccion acompañado de 
        tomate, lechuga, cebolla y una rica capa de mayonesa casera con cibullete que le da un toque de sabor unico.
      </p>
    </div>
  </div>

  <div class="card-1">
    <figure>
      <img src="{% static 'images/food5.png' %}" alt="#"/>
    </figure>
    <div class="contenido-card">
      <h3>Menu Vegetariano</h3>
      <p>Como nuestra misión es tener variedad para todos nuestros clientes, no puede faltar la opción más liviana y saludable. Preparada con tortilla recién hecha, 
        los mejores y más frescos ingredientes, tomate, lechuga pepinillo,pollo en tiras y aderezo al gusto
      </p>
    </div>
  </div>

  <div class="card-1">
    <figure>
      <img src="{% static 'images/food9.png' %}" alt="#"/>
    </figure>
    <div class="contenido-card">
      <h3>Pizza</h3>
      <p>Como en todo local, siempre nos intentamos adecuar a todos los gustos, con los mejores ingredientes, una base de masa delgada con bordes de queso, 
        ademas de una base de salsa de tomate, queso mozzarella y peperonni para darle un sazon de picante.
      </p>
      
    </div>
  </div>

</div>

<br>




<script>
  var swiper1 = new Swiper(".mySwiper-1", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
  var swiper2 = new Swiper(".mySwiper-2", {
    slidesPerView: 3,
    spaceBetween: 20,
    loop: true,
    loopFillGroupWithBlank: true,
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
    },
    breakpoints: {
        0: {
            slidesPerView: 1,
        },
        520: {
            slidesPerView: 2,
        },
        950: {
            slidesPerView: 3,
        }
    }
  });
  
  let tabInputs = document.querySelectorAll(".tabInput");
  
  tabInputs.forEach(function(input) {
    input.addEventListener('change', function() {
        let id = input.getAttribute('aria-valuemax'); // corregido
        let thisSwiper = document.getElementById('swiper' + id).swiper; // corregido
        thisSwiper.update();
    });
  });
  </script> 
{%endblock%}

