{% extends "base.html"%}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="container-fluid">
    <h1>Catalogo de productos</h1>
    <div id="menu" class="row">
      {% for menu in menus %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{{ menu.imagen.url }}" class="card-img-top" alt="{{ menu.nombre_menu }}">
      <div class="card-body">
        <h5 class="card-title">{{ menu.nombre_menu }}</h5>
        <p class="card-text">{{ menu.precio }}</p>
        <button data-menu-id="{{ menu.ganancia }}" class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>
{% endfor %}
    </div>
  </div>
{%endblock%}