{% extends "base.html"%}
{% load static %}
{% block contenido %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  <div class = "menu-compras">
    <div class="food-items">
      <img src="{% static 'images/food1.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>


    <div class="food-items">
      <img src="{% static 'images/food2.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{% static 'images/food3.png'%}"/>
      <div class="detalles">
        <div class="detalles-categoria">
          <h5>Hamburgesa</h5>
          <h5 class = "precio">Precio</h5>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button> Agregar al carro</button>
      </div>
    </div>

  </div>




  <!-- <div class="container-fluid">
    <h1>Catálogo de productos</h1>
    <div id="menu" class="row">
      {% for menu in menus %}
      {% if user.username == 'admin' %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{{ menu.imagen.url }}" class="card-img-top" alt="{{ menu.nombre_menu }}">
          <div class="card-body">
            <h5 class="card-title">{{ menu.nombre_menu }}</h5>
            <p class="card-text">{{ menu.precio }}</p>
            <button data-menu-id="{{ menu.ganancia }}" class="btn btn-success">Agregar</button>
            <button data-menu-id="{{ menu.id }}" class="btn btn-primary btn-edit">Editar</button>
            <div class="form-check">
              <input 
                type="checkbox" 
                class="form-check-input menu-status-toggle" 
                data-menu-id="{{ menu.id }}" 
                {% if menu.estado_menu %} checked {% endif %}>
              <label class="form-check-label">Estado del Menú</label>
            </div>
          </div>
        </div>
      </div>
      {% else %}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="{{ menu.imagen.url }}" class="card-img-top" alt="{{ menu.nombre_menu }}">
      <div class="card-body">
        <h5 class="card-title">{{ menu.nombre_menu }}</h5>
        <p class="card-text">{{ menu.precio }}</p>
        <button data-menu-id="{{ menu.ganancia }}" class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>
      {% endif %}
{% endfor %}
    </div>
  </div> -->

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const menuStatusToggles = document.querySelectorAll('.menu-status-toggle');
  
      menuStatusToggles.forEach(toggle => {
        toggle.addEventListener('change', async (event) => {
          const menu_id = event.target.dataset.menu_id;
          const isChecked = event.target.checked;
  
          try {
            const response = await fetch(`/api/menus/menu/${menu_id}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                estado_menu: isChecked
              })
            });
  
            if (response.ok) {
              console.log(`Estado del menú con ID ${menu_id} actualizado`);
            } else {
              console.error('Error al actualizar el estado del menú');
              // Vuelve a cambiar el estado del checkbox si hay un error
              event.target.checked = !isChecked;
            }
          } catch (error) {
            console.error('Error en la solicitud:', error);
            // Vuelve a cambiar el estado del checkbox si hay un error
            event.target.checked = !isChecked;
          }
        });
      });
    });
  </script>


<br><br><br><br><br><br><br>
{%endblock%}