{% extends "base.html"%}
{% load static %}

{%block contenido%}
<style>
  body{
    background: url(static/images/bg.jpg);
    background-size: 100%;
  }
</style> 

<div class="about">
    <div class="container">
      <div class="row">
         <div class="col-md-12">
             <div class="title">
              <h2>Sobre Nosotros</h2>
                <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
                
                <span> Nuestro labor diario es siempre traer los mejores sabores a nuestor clientes, es una meta que cada uno de los involucrados en este lugar queremos lograr,
                    dia a dia, traemos nuevas novedades para nuestra amada clientela, que sientan en cada una de nuestras preparaciones un sabor unico y distintivo frente a otros lugares,
                    queremos siempre lo mejor para nuestros clientes e intentaremos siempre de alcanzar ese punto.
                   <br> 
                </span>
             </div>
          </div>
       </div>
       <div class="row">
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
             <div class="about_box">
                 <h3>Mejor Comida</h3>
                 <p>Este platillo, es uno de tantos que ha sido escogido por nuestra amada clientela como uno de los mejores de la semana, filetes de salmon con una salsa agridulce, 
                    con cibullete picado y sesamo, este plato se prepara con mucha dedicacion por nuestros chef, cada plato que a sido escogido por semana a sido unico en el paladar 
                    y muy recomendados por nuestra amada clientela.</p>
                    <a href="{% url 'menus' %}">Leer Mas <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
             </div>
         </div>
          <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
             <div class="about_img">
                 <figure><img src="{% static 'images/about-img.jpg' %}" alt="#/"></figure>
             </div>
         </div>      
       </div> 
    </div>
</div>
<br>

<div class="Client">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
            <center><h2>Nuestros Clientes !</h2></center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
           <div class="Client_box">
             <img src="{% static 'images/client.jpg' %}" alt="#"/>
             <h3>Camilo Vergara</h3>
             <h3><span class="theme_color">Comentario Destacado De La Semana !</span></h3>
             <p>Durante mis cortos tiempos libres, siempre estoy buscando nuevas opciones de comida, los cuales son bastante dificiles al dia de hoy, muchos locales repiten los platos de comida
                 y eso genera que uno, no siempre tenga la idea clara de donde poder comprar, en SantDelivery elimine todas esas dudas de comer un platillo repetitivo dia tras dia, en este lugar encontre
                 variedad de comida todos los dias y un sabor unico que hace que ya sea cliente frecuente hace mas de 2 meses, si aun no han probado el sabor de cada plato de este lugar, los invito a hacerlo y a disfrutarlo sin miedo, no se arrepentiran.</p>
             <i><img src="{% static 'images/client_icon.png' %}" alt="#"/></i>
           </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

{%endblock%}