{% extends "base.html"%}
{% load static %}

{%block contenido%}


<section id= "about">
  <div class = "about-1">
    <h1>Sobre Nosotros</h1>
    <i><img src="{% static 'images/title.png' %}" alt="#"/></i>
    <p>Nuestro labor diario es siempre traer los mejores sabores a nuestor clientes, es una meta que cada uno de los involucrados en este lugar queremos lograr
      dia a dia, traemos nuevas novedades para nuestra amada clientela, que sientan en cada una de nuestras preparaciones un sabor unico y distintivo frente a otros lugares,
      queremos siempre lo mejor para nuestros clientes e intentaremos siempre de alcanzar ese punto.
    </p>
  </div>

  <div id = "about-2">
    <div class = "content-box-lg">
      <div class = "container-about">
        <div class = "row">
          <div class = "col-md-4">
            <div class = "about-item text-center">
              <br>
              <i class = "fa fa-book"></i>
              <h3>MISION </h3>
              <hr>
              <p> RELLENO

              </p>
            </div>
          </div>
          
          <div class = "col-md-4">
            <div class = "about-item text-center">
              <br>
              <i class = "fa fa-globe"></i>
              <h3>OBJETIVOS </h3>
              <hr>
              <p> RELLENO

              </p>
            </div>
          </div>
          
          <div class = "col-md-4">
            <div class = "about-item text-center">
              <br>
              <i class = "fa fa-pencil"></i>
              <h3>COMPROMISO </h3>
              <hr>
              <p> RELLENO

              </p>
            </div>
          </div>  
        </div>
      </div> 
    </div>
  </div>
</section>


<div class="title">
  <i><img src="{% static 'images/client_icon.png' %}" alt="#"/></i>
  <center><h2>Comentario Destacado</h2></center>
</div>

<div class = "about-1">
  <h1>Camilo Vergara</h1>
  <i><img src="{% static 'images/client.jpg' %}" alt="#"/></i>
  <br>
  <br>
  <p>Me recomendaron este lugar, mis compañeros ya lo conocían y quedaron encantados. 
    Puedo decir que no se equivocaron. Para nadie es secreto que siempre estamos recorriendo y buscando lugares cómodos y con buena atención. 
    En SantFood encontré eso y más, 
    sin duda estoy sorprendido por la calidad de los productos y la calidez de las personas que atienden. 
    Eso me ha hecho volver muy seguido en estos últimos tres meses a saborear mi plato favorito que es el burrito, 
    sin desmerecer la pizza o las hamburguesas. Sin duda 100% recomendado.
  </p>
</div>



<br>
<br>
<br>

{%endblock%}