{% extends "base.html" %}
{% load static %}

{% block contenido %}

<div class="card">
    <div class="card-body">
        <div class="menu-compras">
            {% if user.is_authenticated %}
                <h1>Tabla de Nombres y Enlaces</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Enlace</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ejemplo 1</td>
                            <td><a href="{% url 'editar_usuario' %}">Ir a Ejemplo 1</a></td>
                        </tr>
                        <tr>
                            <td>Ejemplo 2</td>
                            <td><a href="{% url 'menus' %}">Ir a Ejemplo 2</a></td>
                        </tr>
                        <!-- Agrega más filas según sea necesario -->
                    </tbody>
                </table>
            {% else %}
                <h1>Debes iniciar sesión para ver tu perfil</h1>
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

