{% extends "base.html" %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center">Correo enviado</h2>
                    <p class="text-center">Se ha enviado un correo con instrucciones para restablecer tu contraseña.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
