{% extends "base.html"%}
{% load static %}
{%block contenido%}
{% load crispy_forms_tags %}
<br><br>
<div class="container-form-registro">
    <div class="information-registro">
        <div class="info-childs-registro">
            <h2>Bienvenido Nuevamente</h2>
            <br>
        </div>
    </div>
    <div class="form-information-registro">
        <div class="form-information-childs-registro">
            <h2>Ingresa tu nueva contraseña</h2>
            <form action = "" method = "post" class = "form">
                <div class = "registro-2">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <button type="submit">Enviar</button>  
            </form>
        </div>
    </div>
</div>
<br><br>
  
{% endblock %}


