{% extends "base.html"%}
{% load static %}
{%block contenido%}
{% load crispy_forms_tags %}
<br><br>
<div class="container-form">
  <div class="information">
      <div class="info-childs">
          <h2>Bienvenido Nuevamente</h2>
          <p>Ingresa tu correo para recuperar la contraseña.</p>
          
      </div>
  </div>
  <div class="form-information">
      <div class="form-information-childs">
        <form action = "" method = "post" class = "form">
          <div class = "registro">
            {{ form | crispy }}
            {% csrf_token %}
          </div>
            <input type="submit" value = "Enviar email">
          </form>
      </div>
  </div>
</div>
<br><br>
  
{% endblock %}