{% extends "base.html" %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}


<br><br>
<div class="container-form-registro">
    <div class="information-registro">
        <div class="info-childs-registro">
            <h2>Bienvenido Nuevamente</h2>
            <p>Para disfrutar de todos los beneficios que tenemos para ti regístrate con tus datos o</p>
            <br>
            <a href="{% url 'login' %}" class="btn btn-primary">Volver</a>
            <a href="{% url 'index' %}" class="btn btn-primary">Inicio</a>
        </div>
    </div>
    <div class="form-information-registro">
        <div class="form-information-childs-registro">
            <h2>Registro de Usuario</h2>
            
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            <form action="" method="post" class="form-registro">
                <div class="registro-2">
                    {{ form | crispy }}
                    {% csrf_token %}
                </div>
                <input type="submit" value="Registrarse" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<br><br>

{% endblock %}



