/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/

*{

     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
     background-image: url(../images/bg3.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
    

     
}

 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0;
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 *, *::after, *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 button:focus {
     outline: none;
}
 ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
 p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
 a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 :focus {
     outline: 0;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 .form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

 button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
 .full {
     float: left;
     width: 100%;
}
 .layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .light_silver {
     background: #f9f9f9;
}

 .margin_top_30 {
     margin-top: 30px !important;
}
 .full {
     width: 100%;
     float: left;

}

.slider_section {
     background-color: #212020; /* Color de fondo negro */
     color: #fff; /* Color de texto blanco */
     padding: 60px 0px; /* Espaciado interno superior e inferior */
}
   
.slider_cont {
     padding: 20px; /* Espaciado interno dentro del contenedor de texto */
     
}
   
.slider_image img {
     max-width: 100%; /* Ajusta la imagen al 100% del ancho del contenedor */
     height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
}
   
@media screen and (max-width: 991px){

     .slider_section .container {
          width: 90%;
       
     }

 
}
/*--------------------------------------------------------------------- header ---------------------------------------------------------------------*/

.container {
     max-width: 1200px;
     margin: 0 auto;
}

.back{
     padding: 52px 0;
     background-color: #252525;
}

.menu{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 100;
}

.logo{
     width: 180px;
}

.menu .navbar ul li {
     position: relative;
     float: left;
}

.menu .navbar li a{
     padding: 10px;
     color: #ffffff;
     display: block;
     transition: all 400ms ease;
     font-weight: bold;
}

.menu .navbar ul li a:hover{
     transform: translateY(-10%);
     background-color: #ffff;
     color:#000;
     border-radius: 45px;
}

#menu{
     display: none;
}

.menu-icono{
     width: 25px;
}

.menu label{
     cursor: pointer;
     display: none;
}

/* Modalidad Responsiva */

@media (max-width: 991px){

     .menu{
          padding: 30px;
     }

     .menu label{
          display: initial;
     }

     .back{
          padding: 65px 0;
     }

     .menu .navbar {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background-color: #252525;
          display: none;
     }

     .menu .navbar ul li {
          width: 100%;
     }

     #menu:checked ~ .navbar {
          display: initial;
     }


}


/*-------------------------------- BLOG EN TARJETAS --------------------------- **/

.title {
     text-align: center;
     padding-top: 50px;
 
}
.title h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 40px;
    color: #fffffe;
    padding: 20px 20px;
    font-weight: bold;
 }
.title span {
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     display: block;
     font-weight: bold;
     
}

.container-cards{
     width: 100%;
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     
}

.card{
     margin: 10px;
     border-radius: 10px; /* para que la tarjeta tenga un borde redondeado */
     color: #ffffff;
     overflow: hidden;/* todo elemento fuera del contenedor se oculte y no aparezca en la tarjeta */
     box-shadow: 0px 1px 10px rgb(0,0,0,0,2); /*sombra para las tajetas */
     cursor: default; /*cursor por defecto al pasar por las tarjetas */
     transition: all 400ms ease;
     text-align: center;
     
     
}

.card:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%); /* el traslado de la tajeta sera en formato vertical en -3 % de su valor */

}

.card .contenido-card{
     padding: 40px;
     text-align: center;
}

.card .contenido-card p{
     line-height: 1.5; /* Linea de parrafo con espacio entre si */
     color: #030303;
     font-size: 18px;
     
}

.card .contenido-card h3{
     font-weight: 600;
     margin-bottom: 15px;
     font-weight: bold;
     
}

.card .contenido-card a{
     text-decoration: none;
     display: inline-block;
     margin-top: 10px;
     color: #2fb4cc;
     border: 1px solid #2fb4cc;
     border-radius: 4px;
     transition: all 400ms ease;
}

.card .contenido-card a:hover{
     background: #2fb4cc;
     color: #fff
}


@media (max-width: 991px){
     .container-cards{
          width: 100%;
          display: flex;
          max-width: 1200px;
          flex-wrap: wrap;
          
     }

     
     
}



/** slider section **/

 .slider_section .container {
     width: 100%;
     max-width: 1200px;
  
}
 .slider_cont {
     padding-left: 190px;
     float: left;
     margin: 100px 0 0;
}
 .slider_cont h3 {
     font-size: 70px;
     font-weight: 600;
     color: #fff;
     line-height: 70px;
     letter-spacing: -2px;
}
 .slider_cont p {
     font-size: 18px;
     color: #ffffff;
     line-height: normal;
     font-weight: 300;
     margin-top: 15px;
     margin-bottom: 10px;
     padding-right: 30px;
     font-weight: bold;
}

 .main_bt_border {
     color: #fff;
     font-size: 18px;
     font-weight: 300;
     min-width: 150px;
     border: solid #fff 1px;
     float: left;
     text-align: center;
     min-height: 50px;
     line-height: 50px;
     margin-top: 20px;
}
 .main_bt_border:hover, .main_bt_border:focus {
     background: #e3d105;
     border-color: #e3d105;
     color: #222;
}

.resip_section {
    background: #212020;
    margin-top: 0;
    padding: 30px 0px 20px 0px;
    border-top: solid rgba(255,255,255,.1) 1px;
    box-shadow: inset 0 10px 30px -16px #000;
}

 .ourheading h2 {
    font-size: 45px;
     font-weight: 500;
     line-height: 40px;
     color: #fff;
     padding-bottom: 38px;
}
 .product_blog_cont {
     text-align: center;
     padding-top: 20px;

}
 .product_blog_cont h3 {
     color: #ffffff;
     font-size: 22px;
     font-weight: 400;
     text-align: center;
     font-weight: bold;
}
 .product_blog_cont h4 {
     color: #fff;
     font-size: 18px;
 }
 
/** ---------------------------  about ---------------------------------**/

.about-1{
     margin: 30px;
     padding: 5px;
     padding-top: 50px;
}

.about-1 h1{
     text-align: center;
     color: #000000;
     font-weight: bold;
}

.about-1 p{
     text-align: center;
     padding: 3px;
     color: #000000;
     
}

.about-1{
     margin-bottom: 20px;
     margin-top: 20px;
     background-color: rgb(245, 240, 240);
     padding: 80px,30px;
     box-shadow: 0 0 9px rgba(0,0,0,6);
     transition: all 400ms ease;
     text-align: center;
     border-radius: 15px;
}

.about-1:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%);
     cursor: default;
     
}

.about-item{
     margin-bottom: 20px;
     margin-top: 20px;
     background-color: rgb(245, 240, 240);
     padding: 80px,30px;
     box-shadow: 0 0 9px rgba(0,0,0,6);
     transition: all 400ms ease;
     text-align: center;
     border-radius: 15px;
}

.about-item i{
     font-size: 43px;
     margin: 0;
}

.about-item h3{
     font-size: 25px;
     margin-bottom: 10px;
     margin-top: 20px;

}

.about-item hr{
     width: 46px;
     height: 3px;
     background-color: #5fbff9;
     margin: 0 auto;
     border: nome;
}

.about-item p{
     margin-top: 20px;

}

.about-item:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%);
     cursor: default;

}

.about-item p{
     margin-top: 20px;
}


.container-about{
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;

}





/* ---------------------------------------- menus ------------------------------*/

.menu-compras{
     padding: 30px 10px 30px 10px;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
     grid-gap: 20px 40px;
}

.food-items{
     background-color: rgb(245, 240, 240);
     position: relative;
     grid-template-rows: auto 1fr;
     border-radius: 15px;
     box-shadow: 20px 20px 2px 2px rgba(15, 14, 14, 0.6);
     transition: .2s ease-in-out;
}

.food-items img{
     width: 100%;
     position: center;
     height: 280px;
     border-radius: 15px 15px 0 0;
}

.detalles{
     padding: 20px 10px;
     display: grid;
     grid-template-rows: auto 1fr 50px;
     grid-row-gap: 15px;
    
     
}

.detalles-categoria h5{
     color: #000000;
     font-weight: 700;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
    
}

.precio{
     text-align: left;
}

.detalles p{
     color: #000000;
     font-size: 16px;
     line-height: 28px;
     font-weight: bold;
     align-self: stretch;
     
}

.detalles a{
     background: #ff1f01;
     border: none;
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     border-radius: 5px;
     width: 180px;
     cursor: pointer;
     
     
}

/*--------------------------------------------------------------------- footer ---------------------------------------------------------------------*/
.footer{
     width: 100%;
     background-color: #252525;     
}

.footer .grupo-1{
     width: 100%;
     max-width: 1200px;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:50px;
     padding: 45px 0px;
}

.footer .grupo-1 .box figure{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.footer .grupo-1 .box figure img{
     width: 180px;
}

.footer .grupo-1 .box h2{
     color: #fff;
     margin-bottom: 25px;
     font-size: 20px;
}

.footer .grupo-1 .box a{
     width: 60%;
     height: 100%;
     justify-content: center;
     align-items: center;
     display: flex;
     color: #fff;
}

.footer .grupo-1 .red-social a{
     display: inline-block;
     text-decoration: none;
     width: 45px;
     height: 45px;
     line-height: 45px;
     color: #fff;
     margin-right: 10px;
     background-color: #0d2033;
     text-align: center;
     transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover{
     padding: 5px 10px;
     background: #fff;
     color: #000;
     border-radius: 20px;
}

.footer .grupo-2{
     background-color: #1b1a1a;
     padding: 15px 10px;
     text-align: center;
     color: #fff;
}

.footer .grupo-2 small{
     font-size: 17px;
}

/* Modalidad Responsiva */

@media screen and (max-width: 991px){
     .footer .grupo-1{
          width: 90%;
          grid-template-columns: repeat;
          grid-gap:30;
          padding: 35px 0px;
     }

     .footer .grupo-1 .box figure img{
          width: 120px;
     }
     
     .footer .grupo-1 .box h2{
          font-size: 13px;
     }
     
}

@media screen and (max-width: 380px){
     .footer .grupo-1{
          width: 90%;
          grid-template-columns: repeat;
          grid-gap:20;
          padding: 25px 0px;
     }

     .footer .grupo-1 .box figure img{
          width: 80px;
     }
     
     .footer .grupo-1 .box h2{
          font-size: 11px;
          
     }

     .footer .grupo-1 .box a{
          width: 40%;
          
     }

     .footer .grupo-1 .red-social a{
     
          width: 46px;
          height: 46px;
          
     }
     
}


