/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
}

body {
     background-image: url(../images/bg3.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
     font-family: 'Poppins', sans-serif;
    

     
}

/* ---------------------------------- swiper Button ---------------------------- */

.swiper-button-prev::after{
     font-size: 25px;
}

.swiper-button-next::after {
     font-size: 25px;
}

.swiper-button-next{
     color: #DB241B;
}


.swiper-button-after{
     color: #DB241B;
}

.swiper-pagination-bullet{
     background-color: #DFDDE0;
     opacity: 1;
}

.swiper-pagination-bullet-active{
     background-color: #DB241B;
}
/*--------------------------------------------------------------------- header ---------------------------------------------------------------------*/


.container{
     max-width: 1200px;
     margin: 0 auto;
     
}


.header{
     display: flex;
     position: relative;
     background-color: #252326;
}  

.menu{
     position: relative;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     
     
}

.menu .navbar ul li{
     position: relative;
     float: left;
}

.menu .navbar ul li a{
     font-size: 20px;
     padding: 20px;
     color: #DFDDE0;
     display: block;
     font-weight: 700;
     text-decoration: none;
}

.menu .navbar ul li a:hover{
     color: #7E7674;
}

#menu{
     display: none;
}

.menu-icono{
     width: 25px;
}

.menu label{
     cursor: pointer;
     display: none;
}

.submenu{
     position: relative;
}

.submenu #carrito {
     display: none;
}

.submenu:hover #carrito{
     display: block;
     position: absolute;
     right: 0;
     backdrop-filter: blur (10px); /* trasparencia al recuadro */
     top: 100%;
     z-index: 1;
     background-color: #4E4B5076;
     padding: 20px;
     min-width: 400px;
     min-height: 400px;
}

table{
     width: 100%;
}

th {
     color: #DFDDE0
}

td {
     color: #DFDDE0
}

.borrar{
     background-color: #e45d34;
     border-radius: 50%;
     padding: 5px 10px;
     text-decoration: none;
     color: #DFDDE0;
     font-weight: 800;
}

/* --------------------  SLIDER MENU PRINCIPAL ---------------------------- */



.slider-content{
     padding-bottom: 30px;

}

.slider{
     display: flex;
     align-items: center;
}

.slider-txt{
     margin-left: 85px;
     width: 50%;
}

.slider-txt h1{
     font-size: 60px;
     color: #ffffff;
     text-transform: uppercase;
     font-weight: 800;
}

.slider-txt p{
     font-size: 18px;
     color: #A7A7A7;
}

.btn-1{
     display: inline-block;
     padding: 15px 35px;
     border: 2px solid #DB241B;
     color: #ffffff;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: uppercase;
     margin-right: 20px;
     border-radius: 50px;
     text-decoration: none;
}

.btn-1:hover{
     background-color: #DB241B;
}

.slider-img{
     width: 50%;
}

.slider-img img{
     margin-right: 250px;
     width: 550px;
}

.inicio {
     background-color: #181717;
}
/* ------------------------------- PRODUCTOS ----------------------------------- */

.products{
     background-color: #0d0d0d;
}

.tabs{
     display: flex;
     flex-wrap: wrap;
     padding: 100px 0px;
}

.tabs label{
     width: 15%;
     order: 1;
     display: block;
     padding: 20px 0;
     text-align: center;
     cursor: pointer;
     color: #A7A7A7;
     font-weight: 700;
     transition: background ease 0.2s;
}

.tabs .tab{
     order: 99;
     flex-grow: 1;
     width: 100%;
     display: none;
     padding-top: 25px;
}

.tabs input[type = "radio"] {
     display: none;
}

.tabs input[type = "radio"]:checked + label{
     border-bottom: 2px solid #DB241B;
     color: #ffffff;
}

.tabs input[type = "radio"]:checked + label + .tab {
     display: block;
}

.product {
     display: flex;
     align-items: center;
     padding: 25px;
     margin: 0 10px;
}
     

.product{
     width: 50%;
     text-align: left;
}

.product-img h4{
     display: inline-block;
     padding: 5px 7px;
     line-height: 15px;
     color: #ffffff;
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 800;
     border: 2px solid #555555;
     border-radius: 10px;
     margin-bottom: 50px;
}

.product-img img{
     width: 150px;
     height: 120px;
}

.product.txt{
     width: 50%;
     margin-left: 10px;
     text-align: left;
}

.product.txt h4{
     color: #ffffff;
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 800;
     margin-bottom: 5px;
}

.product-txt p{
     color: #A7A7A7;
     font-size: 16px;
     margin-bottom: 15px;
}

.product-txt span{
     color: #ffffff;
     font-size: 18px;
     font-weight: 800;
}


/*-------------------------------- BLOG EN TARJETAS --------------------------- */

.title {
     text-align: center;
     padding-top: 50px;
 
}
.title h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 40px;
    color: #fffffe;
    padding: 20px 20px;
    font-weight: bold;
 }
.title span {
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     display: block;
     font-weight: bold;
     
}

.container-cards{
     width: 100%;
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     
}

.card{
     margin: 10px;
     border-radius: 10px; /* para que la tarjeta tenga un borde redondeado */
     color: #ffffff;
     overflow: hidden;/* todo elemento fuera del contenedor se oculte y no aparezca en la tarjeta */
     box-shadow: 0px 1px 10px rgb(0,0,0,0,2); /*sombra para las tajetas */
     cursor: default; /*cursor por defecto al pasar por las tarjetas */
     transition: all 400ms ease;
     text-align: center;
     
     
}

.card:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%); /* el traslado de la tajeta sera en formato vertical en -3 % de su valor */

}

.card .contenido-card{
     padding: 40px;
     text-align: center;
}

.card .contenido-card p{
     line-height: 1.5; /* Linea de parrafo con espacio entre si */
     color: #030303;
     font-size: 18px;
     
}

.card .contenido-card h3{
     font-weight: 600;
     margin-bottom: 15px;
     font-weight: bold;
     
}

.card .contenido-card a{
     text-decoration: none;
     display: inline-block;
     margin-top: 10px;
     color: #2fb4cc;
     border: 1px solid #2fb4cc;
     border-radius: 4px;
     transition: all 400ms ease;
}

.card .contenido-card a:hover{
     background: #2fb4cc;
     color: #fff
}


@media (max-width: 991px){
     .container-cards{
          width: 100%;
          display: flex;
          max-width: 1200px;
          flex-wrap: wrap;
          
     }

     
     
}

/** ---------------------------  about (SOBRE NOSOTROS ) ---------------------------------**/

.about-1{
     margin: 30px;
     padding: 5px;
     padding-top: 30px;
}

.about-1 h1{
     text-align: center;
     color: #000000;
     font-weight: bold;
}

.about-1 p{
     text-align: center;
     padding: 3px;
     color: #000000;
     font-size: 18px;
     
}

.about-1{
     margin-bottom: 20px;
     margin-top: 15px;
     background-color: rgb(245, 240, 240);
     padding: 80px,30px;
     box-shadow: 0 0 9px rgba(0,0,0,6);
     transition: all 400ms ease;
     text-align: center;
     border-radius: 15px;
}

.about-1:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%);
     cursor: default;
     
}

.about-item{
     margin-bottom: 20px;
     margin-top: 20px;
     background-color: rgb(245, 240, 240);
     padding: 80px,30px;
     box-shadow: 0 0 9px rgba(0,0,0,6);
     transition: all 400ms ease;
     text-align: center;
     border-radius: 15px;
}

.about-item i{
     font-size: 43px;
     margin: 0;
}

.about-item h3{
     font-size: 25px;
     margin-bottom: 10px;
     margin-top: 20px;
     font-weight: bold;

}

.about-item hr{
     width: 46px;
     height: 3px;
     background-color: #5fbff9;
     margin: 0 auto;
     border: nome;
}

.about-item p{
     margin-top: 20px;

}

.about-item:hover{
     box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
     transform: translateY(-3%);
     cursor: default;

}

.about-item p{
     margin-top: 20px;
}


.container-about{
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;

}





/* ---------------------------------------- menus ------------------------------*/

.menu-compras{
     padding: 30px 10px 30px 10px;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
     grid-gap: 20px 40px;
}

.food-items{
     background-color: rgb(245, 240, 240);
     position: relative;
     grid-template-rows: auto 1fr;
     border-radius: 15px;
     box-shadow: 20px 20px 2px 2px rgba(15, 14, 14, 0.6);
     transition: .2s ease-in-out;
}

.food-items img{
     width: 100%;
     position: center;
     height: 280px;
     border-radius: 15px 15px 0 0;
}

.detalles{
     padding: 20px 10px;
     display: grid;
     grid-template-rows: auto 1fr 50px;
     grid-row-gap: 15px;
    
     
}

.detalles-categoria h5{
     color: #000000;
     font-weight: 700;
     font-size: 20px;
     font-weight: bold;
     text-align: center;
}

.precio{
     text-align: left;
}

.detalles p{
     color: #000000;
     font-size: 16px;
     line-height: 28px;
     font-weight: bold;
     align-self: stretch;
     
}

.detalles a{
     background: #252525;
     border: none;
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     border-radius: 5px;
     width: 180px;
     cursor: pointer;
     
     
}

/*--------------------------------------------------------------------- footer ---------------------------------------------------------------------*/

.footer-1{
     background-color: #0d0d0d;
}

.footer{
     padding: 50px 0px;
     display: flex;
     justify-content: space-between;
     
}

.links h4{
     color: #ffffff;
     text-transform: uppercase;
     margin-bottom: 20px;
     
}

.links ul li a{
     color: #ffffff;
     font-size: 16px;
     margin-bottom: 5px;
     text-decoration: none;
     justify-content: center;
}

.socials{
     display: flex;
}

.social{
     margin: 0 10px;
     height: 40px;
     width: 40px;
     border: 1px solid #DB241B;
     border-radius: 50%;
}

.social:hover{
     background-color: #DB241B;
}

.social img{
     margin: 8px 0 0 10px;
}

.txt{
     color: #ffffff;
}

.txt p{
     font-size: 16px;
     margin-bottom: 15px;
}


