{% extends "base.html" %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
{% if user.username == 'admin' %}

<br><br>
<div class="container-agregar">
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
  
  <form action="" class="formulario_agregar" method="post" enctype="multipart/form-data">
    <h2>Agregar una Proteina</h2>

    <div class="agregar">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <input type="submit" value="Guardar">
    <input type="reset" value="Cancelar">
  </form>
</div>
{% else %}
<div class="card">
    <h1>No tienes los permisos para ingresar a esta página</h1>
    <a href="{% url 'index' %}">Volver al inicio</a>
</div>
{% endif %}
<br><br>
{% endblock %}