{% extends "base.html" %}
{% load static %}
{% block contenido %}

<br>
<div class = "container-modificar-contacto">
    <form action="" class="modificar-contacto">
  
      <h2>Editar Contacto</h2>
        
      <br>
      {% csrf_token %}
      <div class = "form-group">
        <h1> Nombre </h1>
        <p> {{ contacto.nombre }} </p>
      </div>

      <div class = "form-group">
        <h1> Correo </h1>
        <p>{{ contacto.correo }}</p>
      </div>

      
      <div class = "form-group">
        <h1> Tipo de Contacto </h1>
        <p>{{ contacto.tipo_contacto }}</p>
      </div>

      
      <div class = "form-group">
        <h1> Mensaje </h1>
        <p>{{ contacto.mensaje_contacto }}</p>
      </div>

      
      <div class = "form-group">
        {{ form.estado_contacto.label_tag }}
        {{ form.estado_contacto }}
      </div>
      <br>
      <div class = "form-group">
        <h1> Respuesta </h1>
        <textarea name="respuesta" class="form-control" rows="4">{{ contacto.respuesta }}</textarea>
      </div>

      <br>
      <div class="form-footer">
        <input type="submit" value = "Guardar">
      </div>
        
    <form>
</div>
<br>
{% endblock %}
