{% extends "base.html" %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
{% if user.username == 'admin' %}
<div class="bg_bg">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
                        <h2>Editar Menú</h2>
                        
                            <form action="" class="formulario_contacto" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <br>
                                <div class="d-flex justify-content">
                                    <input type="reset" value="Cancelar" class="btn btn-secondary">
                                    &nbsp;
                                    <input type="submit" value="Aceptar" class="btn btn-primary">
                                </div>
        
                            </form>
                        </div>
                    </div>

                </div>
    </div>
{% else %}
<div class="card">
    <h1>No tienes los permisos para ingresar a esta página</h1>
    <a href="{% url 'index' %}">Volver al inicio</a>
</div>
{% endif %}
{% endblock %}